{%  extends 'base.html.twig' %}

{%  block body %}
    <h1>Test !</h1>
    {# création de variable #}
    {% set name = "Carole" %}
    <h2>Hello {{ name ~ " " ~ name }} !</h2>

    {# création d'un tableau #}
    {% set colors = ['red', 'purple', 'green', 'yellow'] %}

    {# boucler sur un tableau #}
    {% for color in colors %}
        <div style="background-color: {{ color }}">{{ color }}</div>
        {# usage de loop variable créé par for #}
        {% if loop.first %}
            <div>Première itération</div>
        {% endif %}

        {# index de l'élément #}
        <div>index de l'élément courant : {{ loop.index }} / {{ loop.length }}</div>

        {% if loop.last %}
        <div>Dernière itération</div>
        {% endif %}

        {% else %}
        <div>Pas d'éléments</div>

    {% endfor %}



{# manipulation d'objet #}
{% set serie =
    {
    title : "LOTR",
    year : 2022,
    platform : "Amazon"
    }
%}

<h2> Titre de la série : {{ serie.title }}</h2>

{# boucler sur un objet #}
{%  for key, val in serie %}
    <div> {{ key }} : {{ val }}</div>
{% endfor %}


{#  les filtres #}
    {#  le chaînage est possible #}

<div> {{  name | upper | lower | capitalize }} : {{  name | length }} lettres </div>
<div> {{  colors | join("-") }}</div>
<div> {{  "now" | date('d-m-Y') }}</div>

{%  endblock %}

{%  block title %} {{  parent () }} | Test {%  endblock %}